html body{
	padding: 0;
	margin: 0;
	background-color: pink;
	overflow: hidden;
	size: 100%;
}
header{
	padding: 0;
	margin: 0;
	height: 10vh;
	display: flex;
	align-items: center;
	background-color: powderblue;
}
#title{
	margin-left: 2vw;
	font-size: 2em;
	font-family: monospace;
}
#play-field{
    background-color: yellow;
    padding: 10px;
    height: 330px;
    box-shadow:  5px 0px 10px inset; 
    position: relative;
    overflow: hidden;  
}
#snake{
	height: 2.5vh;
	width: 3vw;
	background-color: crimson;
	position: relative;
	top: 0;
	left: 0;
}
.turn{
   transform: rotate(90deg);
}
.controls{
	position: relative;
	height: 10vh;
	width: 10vw;
	background-color: crimson;
}
#up{
 top: 2vh;
 left: 45vw;
  
}
#left{
  top: 4vh;
  left: 35vw;
  
}
#down{
  top: 6vh;
 left: 45vw;
}
#right{
  top: -15vh;
  left: 55vw;
}
#food{
	height: 1vh;
	width: 1vw;
	background-color: red;
	position: relative;
}
