html body{
	padding: 0;
	margin: 0;
	background-color: pink;
}
header{
	padding: 0;
	margin: 0;
	height: 10vh;
	display: flex;
	align-items: center;
	background-color: powderblue;
}
#title{
	margin-left: 2vw;
	font-size: 2em;
	font-family: monospace;
}
#play-field{
    background-color: yellow;
    padding: 10px;
    height: 50vh;
    box-shadow:  5px 0px 10px inset; 
    position: relative; 
}
#snake{
	height: 2.5vh;
	width: 3vw;
	background-color: crimson;
	position: relative;
	top: 0;
	left: 0;
}
.turn{
   transform: rotate(90deg);
}
.controls{
	height: 50px;
	width: 100px;
	background-color: crimson;
}
#up{
  position: relative;
  top:52vh;
  left:40vw;
}
#left{
  position: relative;
  top:55vh;
  left:30vw;
}
#down{
  position: relative;
  top:58vh;
  left:40vw;
}
#right{
  position: relative;
  top:40vh;
  left:50vw;
}
