*,*::before,*::after {box-sizing: inherit}

html body{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	overflow: hidden;
	size: 100%;
}
header{
	padding: 0;
	margin: 0;
	height: 10vh;
	display: flex;
	align-items: center;
	background-color:#F2F2EB;
}
#title{
	margin-left: 2vw;
	font-size: 2em;
	font-family: monospace;
}
#play-field{
    background-color: #038C65;
    padding: 10px;
    height: 60vh;
    -webkit-box-shadow: inset 0px 1px 30px 1px rgba(0,0,0,0.62);
    -moz-box-shadow: inset 0px 1px 30px 1px rgba(0,0,0,0.62);
    box-shadow: inset 0px 1px 30px 1px rgba(0,0,0,0.62);
    position: relative;
    overflow: hidden;
    margin: 0;  
}
#snake{
	height: 3vh;
	width: 3vw;
	background-color: #593128;
	position: relative;
	top: 0;
	left: 0;
}
.turn{
   transform: rotate(90deg);
}
.controls{
	position: relative;
	height: 10vh;
	width: 10vw;
	background-color: #F2C4C4;
	display: block;
}
#start{
    top: 2vh;
    left: 45vw;
    text-align: center;
    border-radius: 10px;
    font-family: monospace;
    font-size: 30px;
}

.food{
	height: 4vh;
	width: 2vw;
	background-color: #F2F2EB;
	position: relative;
	border-radius: 50%;
	text-align: center;
}
#game-play{
	background-color:#96D2D9;
	position: relative;
	height: 30vh;
}
#question{
	font-size: 4em;
	position: absolute;
	top: 0vh;
	left: 80vw;
	font-family: monospace;
}

.score{
	position: absolute;
	left: 70vw;
	font-weight: 3px;
	font-size: 25px;
	font-family: monospace;
}
#score{
	position: absolute;
	left: 80vw;
	font-weight: 3px;
	font-size: 25px;
	font-family: monospace;
}
